.Container{
  background-color: #eeebe5;
}

.Title{
  padding: 1%;
}

.SmallText{
  font-size: 85%;
  padding: 1%;
}

.Stats{
  padding-bottom: 2%;
}

.SwitchButton{
  border: none;
}

.SwitchText{
  color: blue;
}

.RollsContainer{
  background-color: rgb(255, 255, 255);
  border: 1.5px solid rgb(0, 0, 0);
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 3%;
}

.AttackButton{
  margin: 1%;
}

.AttackButtonMiddle{
  margin: 2%;
  padding: 2%;
}

.Standard{
  margin: 2%;
}

.Total{
  padding-top: 2%;
  padding-bottom: 2%;
}

.ClearButton{
  height: 35px;
}

.DamageList {
  list-style-type: none;
}