.Container{
  background-color: #eeebe5;
}

.Title{
  padding: 1%;
}

.SmallText{
  font-size: 85%;
  padding: 1%;
}

.Stats{
  padding-bottom: 2%;
}

.HMText{
  font-size: smaller;
}

.RollsContainer{
  background-color: rgb(255, 255, 255);
  border: 1.5px solid rgb(0, 0, 0);
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 3%;
}

.AttackButton{
  margin: 1%;
}

.AttackButtonMiddle{
  margin: 2%;
  padding: 2%;
}

.Standard{
  margin: 2%;
}

.Total{
  padding-top: 2%;
  padding-bottom: 2%;
}

.ClearButton{
  height: 35px;
}

.HuntersMarkButton{
  height: 60px;
}

.DamageList {
  list-style-type: none;
}

/* Styles for Homepage */

.HomeContainer {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centering horizontally */
  align-items: center; /* Centering vertically */
}

.HomeBg {
  background-image: url("./assets/OOTA-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.HomeTitle{
  color: white;
  margin-top: 4%;
  margin-bottom: 2%;
  font-size: xx-large;
}

.LinkBox {
  margin: 1.5%;
}

.SwapBg {
  background-color: #eeebe5;
  height: 100vh;
  width: 100%;
}

.LinkBoxSwap {
  margin-top: 5%;
}

.SwapButtons{
  margin-top: 5%;
}