.Container{
  background-color: #f8f1d4;
}

.NoteCol{
  margin: 3.2%;
}

.SwitchButton{
  border: none;
}

.RollsContainer{
  background-color: rgb(255, 255, 255);
  border: 1.5px solid rgb(0, 0, 0);
  padding-top: 1%;
  padding-bottom: 1%;
}

.AttackButton{
  margin: 1%;
}

.AttackButtonMiddle{
  margin: 2%;
  padding: 2%;
}

.Standard{
  margin: 2%;
}

.Total{
  padding-top: 2%;
  padding-bottom: 2%;
}

.DamageList {
  list-style-type: none;
}